body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
